[project]
	description = Emscripten: An LLVM-to-JavaScript Compiler
[access "refs/*"]
	owner = group user/lrabiet (lrabiet)
[access "refs/for/refs/*"]
	read = group user/lrabiet (lrabiet)
	push = group user/lrabiet (lrabiet)
	label-Code-Review = -2..+2 group user/lrabiet (lrabiet)
	label-Verified = -1..+1 group user/lrabiet (lrabiet)
	rebase = group user/lrabiet (lrabiet)
	removeReviewer = group user/lrabiet (lrabiet)
	submit = group user/lrabiet (lrabiet)
[access "refs/heads/*"]
	read = group user/lrabiet (lrabiet)
	create = group user/lrabiet (lrabiet)
	push = +force group user/lrabiet (lrabiet)
	pushMerge = group user/lrabiet (lrabiet)
[access "refs/tags/*"]
	push = +force group user/lrabiet (lrabiet)
	pushTag = group user/lrabiet (lrabiet)
	pushSignedTag = group user/lrabiet (lrabiet)
